@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Invitation à manger du cake aux Chokotoffs</h1>
    <p class="lead">Jeudi à la pause</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Invitation</h2>
        <p>
           Avez-vous envie de venir manger du cake au Chokotoffs fait de mes blanches mains pour faire plaisir à notre coach bien aimé ?
            Veuillez suivre le lien ci-dessous afin de confirmer votre présence <br/>
            <a href="~/Reponse/ConfirmerForm" class=" btn btn-primary btn-large"> Confimer votre présence</a>
        </p>
        
    </div>
    
</div>